.isGreen[type=text] {
    color: green;
}

.isRed[type=text] {
    color: red;
}

.isBlack[type=text] {
    color: black;
}

#inputBox {
    width: 50%;
    font-size: 2em;
    border-radius: 1em;
    text-align: center;
}