.container {
  display: inline-grid;
  width: 100%;
  justify-items: center;
  padding-bottom: 0.75rem;
}

.box {
  border-radius: 10rem;
  border: solid #AF1B3F;
  font-size: 1.75em;
  width: 50%;
  overflow: hidden;
  display: flex
}

.currentWord {
  font-weight: 700;
  margin-left: 0.5em
}

.nextWords {
  color: grey;
  margin-left: 0.3em;
}